@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Mulish" system-ui, -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #E5E5E5;
}


a {
  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
p{
  color:#7D7987;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

img{
  border-radius:1rem;
}


